*{
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: underline;
    cursor: pointer;
}
ul{
    list-style-type: none;
}
ul, ol, li, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 960px;
    margin: 0 auto;
}
header{    
    height: 210px;
    background-image:url("https://www.etariff.biz/sites/default/files/banner/technology23.jpg");
}
header::after{
    content: "";
    clear: both;
    display: block;
}
header, footer{
    width: 100vw;
}
.descript{
    color: #ffee00;
    text-align: center;
}
.logotip{
    float: left; 
    top: 0;
}
nav{
    background-color: #2FF553;
    margin-bottom: 10px;
    padding: 10px;
}
nav ul{
    display: flex;
}
nav li{
    margin-left: 10px;
}
table{
    border-collapse: collapse;
    border: 5px double #1E90FF;
    padding: 3px;
    margin-bottom: 5px;
}
tr:nth-child(even){
    background-color: #e5e5e5;
}
.ch{
    background-color: chartreuse;
}
.nech{
    background-color: darkgoldenrod;
}
  
footer{
    height : 50px;
    left: 0; 
    bottom: 0;
    padding: 10px; 
    background: #39b54a; 
    color: #fff;
    display: flex;
    align-items: center;
}
th {
    border: 1px solid grey;
    }
td {
    border: 1px solid grey;
    }
    
  
